<h1>EnedisConnections#connect</h1>
<p>Find me in app/views/enedis_connections/connect.html.erb</p>
<p>Refresh token : <%= @profil.enedis_refresh_token %></p>
<p>Access token : <%= @profil.enedis_access_token %></p>
<p><%= @msg %></p>
<p>PDL : <%= @usage_point_id %></p>
<p>Identité : <%= "#{@title} #{@firstname} #{@lastname.upcase}" %></p>
