
<div class="container">
  <p>Hello <%= current_user.email %> !</p>
  <p>onboarding_step : <%= @onboarding_step %></p>

  <div class="suivi panel">
    <h2>Suivi conso</h2>
    <div class="row text-center">
      <div>
        <p>Situation au <%= I18n.l(@last_power_date, format: "%e %B %Y") %> :</p>
      </div>
      <div class="compteur">
        <p>22 € / 43 €</p>
      </div>
    </div>
    <div class="row">
      <div class="compteur-details">
        <div class="col-xs-6 text-right">
          <p>Consommé depuis le <%= @first_power_date.strftime("%d/%m/%Y") %>.
          </br>(y compris la part d'abonnement associée)</p>
        </div>
        <div class="col-xs-6 text-left">
          <p>Estimé pour la fin du mois de <%= I18n.l(@last_power_date, format: "%B") %> <%= @last_power_date.year %>.
          </br>(coût d'abonnement compris)</p>
        </div>
      </div>
    </div>
  </div>

  <div class="preferences">

  </div>

  <h2>Tests des fonctions</h2>
  <%= link_to courbe_conso_path, class: "btn btn-primary" do %>
    <%= "Récupérer courbe de conso" %>
  <% end %>
  <p><%="Consommé du #{@first_power_date.to_date} au #{@last_power_date.to_date} : #{@conso.round} €"%></p>
</div>
<!-- Tableau de bord -->
