<p>onboarding_step : <%= @onboarding_step %></p>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="panel text-center">
        <% if @onboarding_step < 3 %>
          <div class="row">
            <%= render 'shared/onboarding_steps' %>
          </div>
        <% end %>
        <div class="row">
          <div class="text-left">
            <p>Ton logement :</p>
            <!-- Bloc de validation du profil (avec " V Liaison avec ENEDIS Ok !" et "Valider" qui amène vers "validation pages#validation") -->
            <%= simple_form_for @housing, url: housing_path do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :address_street, label: "Rue" %>
                <%= f.input :address_postal_code, label: "Code postal" %>
                <%= f.input :address_city, label: "Ville" %>
                <%= f.input :surface_area, label: "Surface (m2)" %>
                <%= f.input :heat_system, label: "Chauffage principal" %>
                <%= f.input :hot_water_system, label: "Production d'eau chaude" %>
              </div>

              <div class="form-actions text-center">
                <% if @onboarding_step == 2 %>
                  <%= link_to 'Retour', :back, class: "btn btn-default" %>
                <% else %>
                  <%= link_to 'Annuler', :back, class: "btn btn-default" %>
                <% end %>
                <%= f.button :submit, 'Valider', class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
